<div class="row tab-option">
  <div class="col-md-12" *ngFor="let vault of state.vaults | async">

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="bold">
              {{ vault.name }} <span *ngIf="!vault.active">(Inactive)</span>
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="vault">
          <quartz-vault [vault]="vault"></quartz-vault>
        </div>
      </mat-expansion-panel>

  </div>
</div>


<div class="row tab-option" *ngIf="loadingVaults">
  <div class="col-4"></div>
  <div class="col-4 bold text-center">
   <span style="display: inline-block;">
    Loading Vaults..
   </span>
   <span style="display: inline-block;">
    <mat-spinner diameter="20"></mat-spinner>
   </span>
  </div>
  <div class="col-4"></div>
</div>

<div class="row tab-option" *ngIf="!loadingVaults && (state.vaults | async).length == 0">
  <div class="col-4"></div>
  <div class="col-4 text-center bold">
    Vaults currently not available on this chain.
    <!-- <div class="d-flex flex-column justify-content-end">
      <p class="bold">

      </p>
    </div> -->
  </div>
  <div class="col-4"></div>
</div>

