
<mat-card class="theme-background">
  <mat-card-header>
    <mat-card-title>
      <img class="header-image" src="{{ zap.logoPath }}">
      {{ zap.name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="zapGroup">
      <mat-form-field appearance="outline">
        <mat-label>Select Input Token</mat-label>
        <mat-select
          (openedChange)="getInputTokenBalances()"
          (selectionChange)="onSelectedChange($event.value)"
          formControlName="tokenIn"
          #tokenIn>
          <mat-option
          *ngFor="let token of zap.tokenInputOptions"
          [value]="token">
            <span class="input-option clearfix">
              <img src="{{ token.logoPath }}" alt="dafquq?">
              <span class="token-name bold">
                {{ token.tokenName }}
              </span>

              <span class="user-balance float-right">
                <span *ngIf="!token.loadingBalance">
                  {{ token.userBalanceUI }}
                </span>
                <span *ngIf="token.loadingBalance">
                  <mat-spinner diameter="15"></mat-spinner>
                </span>
              </span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount in</mat-label>
        <input type="number" matInput [disabled]="!tokenIn.value" formControlName="tokenInAmount">

        <mat-hint
          *ngIf="currentSelectedToken"
          align="end"
          class="bold">
          <span style="font-size: 16px;">
            Balance: {{ currentSelectedToken.userBalanceUI }}
          </span>
        </mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      mat-raised-button
      class="quartz-btn"
      [disabled]="!zapGroup.valid"
      (click)="emitZapIn()">
    Zap
  </button>
  </mat-card-actions>
</mat-card>
