.zappadoo {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 4px;

  button {
    margin-left: 5px;
  }
}

.zap-header {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
