mat-card {
  min-height: 315px;
}

.header-image {
  max-width: 75px;
  max-height: 75px;
  // background-size: cover;
}

.input-option {
  img {
    max-width: 25px;
    max-height: 25px;
  }

  .token-name {
    display: inline-block;
    margin-left: 10px;
  }
}
