<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="assets/logo3.svg" alt="">
  </a>

  <quartz-connect-wallet-button *ngIf="!web3Service.connected"></quartz-connect-wallet-button>

  <quartz-chain-badge [chain]="web3Service.chain | async" *ngIf="web3Service.connected"></quartz-chain-badge>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Vaults</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Zap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Swap</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="nav-content-container" *ngIf="web3Service.connected">
    <router-outlet></router-outlet>
  </div>

  <div class="col-sm-12" *ngIf="!web3Service.connected">
    <h3 class="bold text-center">Please connect your wallet</h3>
    <!-- <span style="display: inline-block;" class="align-middle">
      <quartz-connect-wallet-button></quartz-connect-wallet-button>
    </span> -->
  </div>
</div>
