
<div class="row">
  <div class="banner-container" *ngIf="vault.strategy.paused === true">
    <div class="banner">Paused</div>
  </div>

  <div class="col-12 clearfix" *ngIf="vault.loading" style="margin-bottom: 10px;">
    <mat-spinner diameter="35" class="float-right"></mat-spinner>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-12 col-xl-2 bold vault-info">
        <img src="{{ vault.logoURI }}" alt="">
        <p>
          {{ vault.name }}
        </p>
      </div>

      <div class="col-md-6 col-6  col-xl-2 bold balance">
        <div class="text-center label-value">
          {{ vault.userLpWalletBalance }}
        </div>
        <div class="text-center">
            Wallet Balance
        </div>
      </div>

      <div class="col-md-6 col-6  col-xl-2 bold balance">
        <div class="text-center label-value">
          {{ vault.userLpDepositBalance }}
        </div>
        <div class="text-center">
            Deposit Balance
        </div>
      </div>

      <div class="col-md-4 col-4  col-xl-2 bold">
        <div class="text-center label-value">
          {{ vault.APY | percent }}
        </div>
        <div class="text-center">
            APY
        </div>
      </div>

      <div class="col-md-4 col-4  col-xl-2 bold">
        <div class="text-center label-value">
          {{ vault.dailyAPR | percent  }}
        </div>
        <div class="text-center">
            Daily %
        </div>
      </div>

      <div class="col-md-4 col-4  col-xl-2 bold">
        <!-- <mat-spinner diameter="20" *ngIf="vault.t"></mat-spinner> -->
        <div class="text-center label-value">
          {{ vault.totalValueLocked | currency  }}
        </div>
        <div class="text-center">
            TVL
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 deposit-withdrawl">
        <mat-form-field appearance="outline">
          <input type="text" matInput #depositInput [disabled]="!vault.userLpWalletBalance">
        </mat-form-field>
        <mat-slider
          [disabled]="!vault.active || !vault.userLpWalletBalance"
          [max]="100"
          [min]="0"
          [step]="1"
          thumbLabel
          tickInterval="25"
          (input)="onDepositSliderInputChange($event.value)">
        </mat-slider>

        <div class="range-meter clearfix">
          <span class="range-meter-num">
            0%
          </span>
          <span class="range-meter-num float-right">
            100%
          </span>
        </div>

        <div class="clearfix">
          <button
          *ngIf="!vault.contractApproved"
          mat-raised-button
          class="float-right quartz-btn"
          (click)="setApproval()"
          [disabled]="!vault.active || vault.strategy.paused">
          <span *ngIf="vault.active">Approve</span>
          <span *ngIf="!vault.active">Inactive</span>
        </button>

        <button
          *ngIf="vault.contractApproved"
          mat-raised-button
          class="float-right quartz-btn"
          [disabled]="!vault.active || !vault.userLpWalletBalance || vault.strategy.paused"
          (click)="setVaultDepositAll()">

          <span *ngIf="vault.active">Deposit All</span>
          <span *ngIf="!vault.active">Inactive</span>
        </button>

        <button
          *ngIf="vault.contractApproved"
          mat-raised-button
          class="float-right quartz-btn"
          [disabled]="!vault.active || !vault.userLpWalletBalance || vault.strategy.paused"
          (click)="setVaultDeposit()">
          <span *ngIf="vault.active">Deposit</span>
          <span *ngIf="!vault.active">Inactive</span>
        </button>

        </div>

        <div class="bold" style="padding: 5px;">
          <span style="margin-right: 5px;">
            Deposit Fee: 0%
          </span>
          <span>
            Withdrawl Fee: {{ vault.strategy.withdrawlFee }}%
          </span>
        </div>
      </div>

      <div class="col-md-6 clearfix deposit-withdrawl">
        <mat-form-field appearance="outline">
          <input type="text" matInput #withdrawInput [disabled]="!vault.userLpDepositBalance">
        </mat-form-field>
        <mat-slider
          [disabled]="!vault.userLpDepositBalance"
          [max]="100"
          [min]="0"
          [step]="1"
          thumbLabel
          tickInterval="25"
          (input)="onWithdrawSliderInputChange($event.value)">
        </mat-slider>

        <div class="range-meter clearfix">
          <span class="range-meter-num">
            0%
          </span>
          <span class="range-meter-num float-right">
            100%
          </span>
        </div>

        <button
          mat-raised-button
          class="float-right quartz-btn"
          [disabled]="!vault.userLpDepositBalance"
          (click)="setVaultWithdrawAll()">
          Withdraw All
        </button>
        <button
          mat-raised-button
          class="float-right quartz-btn"
          [disabled]="!vault.userLpDepositBalance"
          (click)="setVaultWithdraw()">
          Withdraw
        </button>
      </div>
    </div>
  </div>
</div>
